.jumbotron{
 	background-color: #305948;
 	color: white;
 	text-align: center;
 	font-family: "Tahoma", Tahoma, sans-serif;

}

body{
 	background-color: #bcdbce;
 	color: #2f3030;
 	text-align: center;
 	font-family: "Tahoma", Tahoma, sans-serif;

}