.navbar {
    background-color: #162820;
}

.jumbotron {
    background-color: #305948;
    color: white;
    text-align: center;
    font-family: "Tahoma", Tahoma, sans-serif;
}

body {
    background-color: #bcdbce;
    color: #2f3030;
    font-family: "Tahoma", Tahoma, sans-serif;
}

footer {
    background-color: #162820;
}

a {
    color: #5A8238;
    font-size: 1.1em;
}

a:hover {
    color: #72992F;
    text-decoration: none;
}